body {
    margin: 0;
    box-sizing: border-box;
    position: relative;
    
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;

}
.header {
    
    /* align-items: center; */
    background-image: url("images/mobile/image-header.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header .navLinks {
    display: none;
}

.mobile-navLinks {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    background-color: white;
    padding: 100px 90px;
    display: none;
    width: 60%;
    
}
.mobileLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.mobileLinks a {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    color: hsl(232, 10%, 55%);
}

.mobileLinks .styleLink {
    background-color: hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
    padding: 12px 27px;
    border-radius: 25px;
}

.navManu {
    display: block;
}

.banner {
    position: relative;
    margin-top: 25%;
    
}

.banner h1 {
    position: absolute;
    top: -100%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 3rem;
    font-family: "Fraunces", serif;

}

.arrow-img {
 position: absolute;
 top: 6.5%;
 left: 48%;

}

main img {
    width: 100%;
    object-fit: cover;

}
.cards {
    display: grid;
    grid-template-areas: 
    "egg"
    "egg-card"
    "cup"
    "cup-card"
    "graphic-design"
    "photo-design";
    /* grid-template-rows: auto; 
     grid-template-columns: 1fr;  */
    width: 100%;

}
.header-grid {
    display: grid;
    grid-template-areas: 
    "header";
    width: 100%;

}
.header{
    grid-area: header;
}
.egg {
    grid-area: egg;
}

.egg-card {
    grid-area: egg-card;
}

.cup {
    grid-area: cup;
}

.cup-card {
    grid-area: cup-card;
}

.graphic-design {
    grid-area: graphic-design;
}

.photo-design {
    grid-area: photo-design;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(11, 100%, 97%);
}

.card h2 {
    font-family: "Fraunces", serif;
    margin-top: 70px;
    width: 270px;
    text-align: center;
    font-size: 2rem;
    color: hsl(212, 27%, 19%);
}

.card p {
    width: 450px;
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    color: hsl(232, 10%, 55%);
}

.card a{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 18px 0 100px 0;
}



.special-width{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(11, 100%, 97%);
}
.special-width h2{
    font-family: "Fraunces", serif;
    margin-top: 70px;
    width: 270px;
    text-align: center;
    font-size: 2rem;
    color: hsl(212, 27%, 19%);
}

.special-width p{
    width: 420px;
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    color: hsl(232, 10%, 55%);
}

.special-width a{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 18px 0 100px 0;
}

.graphic-card {
    position: relative;
    height: 100%;
}

.graphic-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 5%;
    color: hsl(167, 40%, 24%);
}

.graphic-text h2{
    font-family: "Fraunces", serif;
    font-size: 2rem;
    text-align: center;
}

.graphic-text p{
    width: 490px;
    font-family: "Barlow", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    
    
}


.graphic-card img {
    height: inherit;
}

.photo-card {
    position: relative;
    height: 100%;
}

.photo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 5%;
    color: hsl(167, 40%, 24%);
}

.photo-text h2{
    font-family: "Fraunces", serif;
    font-size: 2rem;
    text-align: center;
}

.photo-text p{
    width: 490px;
    font-family: "Barlow", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    
}

.photo-card img {
    height: inherit;
    

}
.testimonials{
    background-color: hsl(11, 100%, 97%);
}

.testimonials h2{
    color: hsl(232, 10%, 55%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 100px;
}
.emily{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emily img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 70px;
}

.emily p{
    font-size: 1.3rem;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    width: 360px;
    text-align: center;
    line-height: 37px;
}

.emily h3{
    color:  hsl(212, 27%, 19%);
    margin-bottom: 0;
}

.emily h4{
    color: hsl(232, 10%, 55%);
    font-family: "Barlow", sans-serif;
}


.thomas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thomas img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 70px;
}

.thomas p{
    font-size: 1.3rem;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    width: 380px;
    text-align: center;
    line-height: 37px;
}

.thomas h3{
    color:  hsl(212, 27%, 19%);
    margin-bottom: 0;
}

.thomas h4{
    color: hsl(232, 10%, 55%);
    font-family: "Barlow", sans-serif;
}


.jennie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jennie img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 70px;
}

.jennie p{
    font-size: 1.3rem;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    width: 380px;
    text-align: center;
    line-height: 37px;
}

.jennie h3{
    color:  hsl(212, 27%, 19%);
    margin-bottom: 0;
}

.jennie h4{
    color: hsl(232, 10%, 55%);
    font-family: "Barlow", sans-serif;
    margin-bottom: 150px;
}


.image{
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-areas: 
    "milk orange-fruit"
    "cone suger"
}

.image .milk{
    grid-area: milk;
}

.image .orange{
    grid-area: orange-fruit;
}

.image .cone{
    grid-area: cone;
}

.image .suger{
    grid-area: suger;
}

.footer{
    background-color: hsl(168, 34%, 41%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h3{
    margin-top: 0;
    font-size: 2rem;
    font-family: "Barlow", sans-serif;
    color: hsl(167, 40%, 24%);
    padding-top: 70px;
}

.footer .footerLinks{
    margin-top: 40px;
}

.footer .footerLinks a{
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    margin: 16px 50px;
    font-size: 1.5rem;
    font-family: "Barlow", sans-serif;
    font-weight: 500;

}

.footer .socials{
    padding-top:100px ;
    padding-bottom:100px ;
}

.footer .socials img{
    margin: 12px;
}

/* Media queries */
@media only screen and (min-width:1200px) {
    .mobileManu-icon {
       display: none;
        
    }

    .header .navLinks {
        display: block;
    }

    .navLinks > a {
        color: white;
        text-decoration: none;
        margin-right: 50px;
        font-size: 1.3rem;
        font-family: "Barlow", sans-serif;
    }

    .navLinks .styleLink{
        color: hsl(212, 27%, 19%);
        background-color: white;
        padding: 12px 27px;
        border-radius: 25px;
        font-weight: 600;
        margin-right: 30px;

    }

    .navLinks .styleLink:hover{
        /* color: white; */
        opacity: 0.5;
    }

    .header {
        background-image: url("images/desktop/image-header.jpg");
        /* height: 100vh; */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banner {
        margin-top: 3%; 
    }


    .arrow-img {
        top: 5%;       
       }

    
       .cards {
        /* display: grid; */
        grid-template-areas: 
            "egg-card egg"
            "cup cup-card"
            "graphic-design photo-design";
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        grid-template-rows: auto auto auto; /* Three rows with automatic height */
        width: 100%;
        /* height: 100%; */
    }

    .card h2 , .card p, .card a{
        text-align: start;
    }

    .testimonial-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }

    .testimonial-cards .jennie, .thomas, .emily{
        margin: 0 20px;

    }

    .jennie h4 {
        margin-bottom: 21px;
    }

    .jennie p{
        font-size: 1.2rem;
    }
    .thomas p{
        font-size: 1.2rem;
    }
    .emily p{
        font-size: 1.2rem;
        width: 350px;
    }

    .cards .egg{
        height: 100%;
    }
    .cards .cup{
        height: 100%;
    }

    .image{
        width: 100%;
        /* height: inherit; */
        display: grid;
        grid-template-areas: 
        "milk orange-fruit cone suger"
        
    }

    
    

}



